<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="/usr/local/lib/logs"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable
            </pattern>
        </layout>
    </appender>

    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>${LOGS}/service.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                {"logger":"%logger","timestamp":"%date{dd MMM yyyy;HH:mm:ss.SSS}","message":"%message"},%n
            </pattern>
        </encoder>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console"/>
    </root>

    <!-- LOG "com.shvatov.*" at TRACE level -->
    <logger name="com.shvatov" level="trace">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </logger>

</configuration>